* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

.logo-img {
  width: 150px;
}

.header {
  background-color: #F1F0F1;
  border-bottom: 1px solid #d4d4d4;
}
.header__contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header__navigate {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header__navigate-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header__navigate-list-items:last-child {
  cursor: pointer;
}
.header__navigate-list-items:not(:last-child) {
  margin-right: 25px;
}
.header__navigate-list-items {
  user-select: none;
  font-size: 1.8rem;
  color: #302e2ecc;
  font-weight: 600;
}
.header__navigate-list-items-user {
  color: #fad06d;
}
.header__navigate-list-items-link {
  position: relative;
  display: inline-block;
  color: #302e2ecc;
}

.header__bottom {
  padding: 20px 0;
  background-color: #646464;
}
.header__bottom-contain {
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header__bottom-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header__bottom-list-items:not(:last-child) {
  margin-right: 25px;
}
.header__bottom-list-items {
  position: relative;
  user-select: none;
  font-size: 1.5rem;
  font-weight: 600;
  transition: color 0.3s;
}
.header__bottom-list-items-link {
  color: #fad06d;
  transition: all 0.3s;
  position: relative;
}
.header__bottom-list-items-link::after {
  content: "";
  position: absolute;
  height: 1.5px;
  background-color: white;
  bottom: -5px;
  transition: all 0.3s;
  left: 55px;
  right: 55px;
}
.header__bottom-list-items-link:hover::after {
  left: 0;
  right: 0;
}
.header__bottom-list-items:not(:last-child)::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 1px;
  background-color: #fad06d;
  bottom: -5px;
  right: -14px;
}
.header__bottom-list-items:hover > .header__bottom-list-items-link {
  color: white;
}
.header__bottom-search {
  position: relative;
  height: 30px;
  width: 0;
  background-color: #d4d4d4;
  border-radius: 20px;
  transition: width 0.3s;
}
.header__bottom-search-input {
  position: absolute;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 5px;
  top: 1px;
  width: 75%;
  border-radius: 20px;
}
.header__bottom-search-icon {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #F1F0F1;
  text-align: center;
  line-height: 5rem;
  font-size: 1.2rem;
  position: absolute;
  right: -30px;
  top: -10px;
}
.header__bottom-search-expand {
  width: 200px;
  transition: width 0.3s;
  padding-left: 5px;
}
.header__bottom-cart {
  user-select: none;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
}
.header__bottom-cart-icon {
  color: #fad06d;
  font-size: 1.9rem;
}

/*# sourceMappingURL=styles.css.map */
