$primary-color: #fad06d;
$text-color: #252424cc;
$sale-color: #fa5741;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
img{
    display: block;
}
a{
    text-decoration: none;
}
html{
    font-size: 62.5%; // 1 rem = 10px
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}

.logo-img{
    width: 150px;
}

@mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
}
.header{
    background-color: #F1F0F1;
    border-bottom: 1px solid #d4d4d4;
    &__small{
        @include flex(center, flex-end);
        padding-top: 5px;
        color: black;
        &-contact span{
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.4rem;
            text-decoration: underline;
        }
        &-contact i{
            margin-right: 10px;
            font-size: 1.6rem
        }
    }
    &__contain{
        @include flex(center, space-between);
        
    }
    &__navigate{
        @include flex(flex-start, space-between);
        &-list{
            @include flex(flex-start, space-between);
            &-items:last-child{
                cursor: pointer;
            }
            &-items:not(:last-child){
                margin-right: 25px;

            }
            &-items{
                position: relative;
                user-select: none;
                font-size: 1.8rem;
                color: $text-color;
                font-weight: 700;
                &-user{
                    color: $primary-color;
                }
                &-link{
                    position: relative;
                    display: inline-block;
                    color: $text-color;
                }
                // &-link::after{
                //     content: '';
                //     position: absolute;
                //     height: 1.5px;
                //     background-color: #534f40;
                //     bottom: -5px;
                //     transition: all .3s ease-in;
                //     left: 50px;
                //     right: 50px;
                // }
                // &-link:hover::after{
                //     left: 0;
                //     right: 0;
                // }
            }
        }
    }  
}

.header__bottom{
    padding: 20px 0;
    background-color: #646464;
    &-contain{
        height: 30px;
        position: relative;
        @include flex(center, space-between);
    }
    &-list{
        @include flex(center, space-between);
        &-items:not(:last-child){
            margin-right: 50px;
        }
        &-items{
            // position: relative;
            user-select: none;
            font-size: 1.6rem;
            font-weight: 600;
            transition: color .3s;
            &-link{
                color: $primary-color;
                transition: all .3s;
                position: relative;
            }
            &-link::after{
                content: '';
                position: absolute;
                height: 1.5px;
                background-color: white;
                bottom: -5px;
                transition: all .3s;
                left: 55px;
                right: 55px;
            }
            &-link:hover::after{
                left: 0;
                right: 0;
            }
            
        }
        // &-items:first-child::after{
        //     content: '';
        //     position: absolute;
        //     width: 0;
        //     height: 0;
        //     border-left: 24px solid transparent;
        //     border-right: 24px solid transparent;
        //     border-bottom: 24px solid #F1F0F1;
        //     top: 0px;
        //     left: 0;
        //     opacity: 0;
        //     visibility: hidden;
        //     transition: opacity linear .3s, visibility linear .3s, top linear .3s;
        // }
        // &-items:hover::after{
        //     opacity: 1;
        //     visibility: visible;
        //     top: 25px;
        // } 
        &-items:first-child::after{
            content: '';
            position: absolute;
            width: 45px;
            height: 30px;
            top: 20px;
            left: 0;
            // background-color: #718093;
        }
        &-items:hover> &-items-link{
            color: white;
        }
        &-items:hover > .menu__child{
            opacity: 1;
            visibility: visible;
            top: 165%;
        }
    }
    &-search{
        user-select: none;
        display: block;
        width: 300px;
        position: relative;
        right: 200px;
        &-icon{
            user-select: none;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: #F1F0F1;
            text-align: center;
            line-height: 3rem;
            font-size: 1.2rem;
        }
        &-input{
            width: 0;
            user-select: none;
            // padding: 5px 5px 5px 10px;
            outline: none;
            border: none;
            border-radius: 15px;
            opacity: 0;
            transition: width .3s, opacity .3s;
            font-size: 1.2rem;
            &-active{
                width: 80%; //
                opacity: 1;
                padding: 5px 10px 5px 10px;
                transition: width .3s, opacity .3s;    
            }
        }
        
    }
    &-cart{
        user-select: none;
        color: white;
        font-size: 1.6rem;
        font-weight: 600;
        border: 2px solid white;
        padding: 5px;
        border-radius: 3px;
        @include flex(center, space-around);
        width: 150px;
        position: relative;
        &-icon{
            color: $primary-color;
            font-size: 1.9rem;
        }
        &-number{
            user-select: none;
            border: 1px solid $primary-color;
            background-color: $primary-color;
            display: inline-block;
            width: 20px;
            text-align: center;
            line-height: 1.5rem;
            border-radius: 3px;
            color: #fa5a5a;
        }
    }
}

// menu child 
.menu__child{
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #718093;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    transition: opacity linear .3s, visibility linear .3s, top linear .3s;
    &-items{
        width: 25%;
    }
    &-items h4{
        font-size: 2rem;
        padding: 15px;
        background-color: #F1F0F1;
    }
    &-items h4 a{
        color: $primary-color;
        transition: color .3s;
    }
    &-items h4 a:hover{
        color: black;
    }
    &-list{
        &-items{
            padding: 15px;
            &-link{
                color: white;
                transition: color .3s;
            }
            &-link:hover{
                color: $primary-color;
            }
        }
    }
}

// image section
.image__section{
    height: 500px;
    display: flex; 
    &-slide{
        flex: 2;
        a img{
            width: 100%;
            height: 100%;
            // object-fit: fill;
            filter: brightness(1.5);
        }
    }
}

.infor-btn{
    position: relative;
    bottom: 100px;
    left: 45%;
    width: 180px;
    padding: 5px;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 35px;
    outline: none;
    font-size: 3rem;
    font-weight: 600;
    animation: jump 2.5s infinite linear;
    animation-timing-function: linear;
    cursor: pointer;
    a{
        color: $text-color;
    }
}

.infor-btn:hover{
    animation-play-state: paused;
}

@keyframes jump{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-35%);
    }
    100%{
        transform: translateY(0%);
    }
}
// logo section
.logo__wrap{
    @include flex(baseline,space-around);
    height: 230px;
    &-link{
        img{
            width: 200px;   
        }
    }
    &-link:first-child{
        img{
            height: 100px;
        }
    }
}


// products section
.products__section{
    margin-top: -35px;
    &-heading-wrap{
        @include flex(center, space-between);
        margin-top: 30px;
        a{
            width: 20%;
            font-size: 2.4rem;
            font-weight: 500;
            background-color: black;
            display: block;
            color: white;
            text-align: center;
            padding: 10px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            transition: transform .3s;
        }
        a:last-child{
            background-color: white;
            color: black;
        }
        a:last-child:hover{
            transform: translateY(-5px);
        }
        border-bottom: 2px solid black;
        margin-bottom: 30px;
    }
    &-banner-link{
        width: 100%;
        display: inline-block; // thẻ a mặc định là inline nên không apply margin đc phải chuyển sang block mới có thể sử dụng
        img{
            width: 100%;
            height: 380px;
        }
    }
    &-banner-link:not(:last-child){
        margin-bottom: 30px;
    }


}
.products__wrap{
    width: 210px;
    height: 328px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    padding: 5px;
    transition: transform .3s;
    overflow: hidden;
    position: relative;
    
    &-link{
        img{
            width: 100%;
            height: 207px;
        }
    }
    &-name{
        display: block;
        width: 100%;
        height: 35px;
        color: black;
        font-size: 1.7rem;
        font-weight: 600;
        margin: 5px 0;
        text-transform: capitalize;
    }
    &-rating{
        margin: 15px 0;
        width: 100%;
        height: 15px;
        display: flex;
        i{
            font-size: 1.4rem;
            color: $primary-color;
        }
    }
    &-price{
        margin-top: 15px;
        width: 100%;
        @include flex(center,space-between);
        transition: transform .3s;
        &-new{
            font-size: 1.7rem;
            font-weight: 600;
        }
        &-old{
            font-size: 1.2rem;
            font-weight: 500;
            text-decoration: line-through;
        }
    }
    &-active{
        width: 100%;
        transition: transform .5s;
        @include flex(center, space-around);
        a{
            color: $primary-color;
            font-size: 3rem;
        }
        transform: translateY(20px);
    }
}
.products__wrap:hover{
    transform: translateY(-5px);
}
.products__wrap:hover  > .products__wrap-active{
    transform: translateY(-25px);
}
.products__wrap:hover  > .products__wrap-price{
    transform: translateY(50px);
}


// guaranted section
.guaranted{
    background-color: #eeecec;
    border-top: 1px solid #c0bdbd;
    &__wrap{
        height: 110px;
        @include flex(center,space-between);
        &-content{
            @include flex(center, space-between);
            img{
                margin: 10px;
            }
            &-text{
                span{
                    display: block;
                }
                span:first-child{
                    font-size: 1.6rem;
                    font-weight: 700;
                    margin-bottom: 5px;
                }
                span:last-child{
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            }
        }
    }
}

// footer
.footer{
    border-top: 1px solid #c0bdbd;
    height: 210px;
    padding-top: 15px;
    &__wrap{
        width: 100%;
        &-heading{
            font-size: 1.9rem;
            font-weight: 600;
        }
        &-list{
            margin-top: 15px;
            &-items:not(:last-child){
                margin-bottom: 10px;
            }
            &-items{
                &-link{
                    font-size: 1.4rem;
                    color: #898989;
                }
            }
        }
        &-socials{
            margin-top: 15px;
            width: 100%;
            @include flex(center, space-between);
            font-size: 2rem;
            &-link{
                @include flex(center, center);
                width: 50px;
                height: 50px;
                color: white;
                background-color: #646464;
                border-radius: 100%;
            }
        }
        &-info{
            margin-top: 10px;
            &-contact:not(:last-child){
                margin-bottom: 10px;
            }
            &-contact{
                font-size: 1.4rem;
                i{
                    margin-right: 5px;
                }
            }
        }
    }
    &__copyright{
        margin-top: 10px;
        @include flex(center,center);
        font-size: 1.4rem;
        p b{
            font-weight: bold;
        }
    }
}

// back to top btn
.backtotop{
    font-size: 2rem;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: $primary-color;
    transition: color .3s;
    @include flex(center,center);
    display: none;
}
.backtotop:hover{
    color: white;
}