* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif;
}

.logo-img {
  width: 150px;
}

.header {
  background-color: #F1F0F1;
  border-bottom: 1px solid #d4d4d4;
}
.header__contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header__navigate {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header__navigate-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header__navigate-list-items:last-child {
  cursor: pointer;
}
.header__navigate-list-items:not(:last-child) {
  margin-right: 25px;
}
.header__navigate-list-items {
  position: relative;
  user-select: none;
  font-size: 1.8rem;
  color: #252424cc;
  font-weight: 700;
}
.header__navigate-list-items-user {
  color: #fad06d;
}
.header__navigate-list-items-link {
  position: relative;
  display: inline-block;
  color: #252424cc;
}

.header__bottom {
  padding: 20px 0;
  background-color: #646464;
}
.header__bottom-contain {
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header__bottom-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header__bottom-list-items:not(:last-child) {
  margin-right: 50px;
}
.header__bottom-list-items {
  user-select: none;
  font-size: 1.6rem;
  font-weight: 600;
  transition: color 0.3s;
}
.header__bottom-list-items-link {
  color: #fad06d;
  transition: all 0.3s;
  position: relative;
}
.header__bottom-list-items-link::after {
  content: "";
  position: absolute;
  height: 1.5px;
  background-color: white;
  bottom: -5px;
  transition: all 0.3s;
  left: 55px;
  right: 55px;
}
.header__bottom-list-items-link:hover::after {
  left: 0;
  right: 0;
}
.header__bottom-list-items:first-child::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 30px;
  top: 20px;
  left: 0;
}
.header__bottom-list-items:hover > .header__bottom-list-items-link {
  color: white;
}
.header__bottom-list-items:hover > .menu__child {
  opacity: 1;
  visibility: visible;
  top: 165%;
}
.header__bottom-search {
  user-select: none;
  display: block;
  width: 300px;
  position: relative;
  right: 200px;
}
.header__bottom-search-icon {
  user-select: none;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #F1F0F1;
  text-align: center;
  line-height: 3rem;
  font-size: 1.2rem;
}
.header__bottom-search-input {
  width: 0;
  user-select: none;
  outline: none;
  border: none;
  border-radius: 15px;
  opacity: 0;
  transition: width 0.3s, opacity 0.3s;
  font-size: 1.2rem;
}
.header__bottom-search-input-active {
  width: 80%;
  opacity: 1;
  padding: 5px 10px 5px 10px;
  transition: width 0.3s, opacity 0.3s;
}
.header__bottom-cart {
  user-select: none;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  border: 2px solid white;
  padding: 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 150px;
  position: relative;
}
.header__bottom-cart-icon {
  color: #fad06d;
  font-size: 1.9rem;
}
.header__bottom-cart-number {
  user-select: none;
  border: 1px solid #fad06d;
  background-color: #fad06d;
  display: inline-block;
  width: 20px;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 3px;
  color: #fa5a5a;
}

.menu__child {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #718093;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  transition: opacity linear 0.3s, visibility linear 0.3s, top linear 0.3s;
}
.menu__child-items {
  width: 25%;
}
.menu__child-items h4 {
  font-size: 2rem;
  padding: 15px;
  background-color: #F1F0F1;
}
.menu__child-items h4 a {
  color: #fad06d;
  transition: color 0.3s;
}
.menu__child-items h4 a:hover {
  color: black;
}
.menu__child-list-items {
  padding: 15px;
}
.menu__child-list-items-link {
  color: white;
  transition: color 0.3s;
}
.menu__child-list-items-link:hover {
  color: #fad06d;
}

.image__section {
  height: 500px;
  display: flex;
}
.image__section-slide {
  flex: 2;
}
.image__section-slide a img {
  width: 100%;
  height: 100%;
  filter: brightness(1.5);
}

.infor-btn {
  position: relative;
  bottom: 100px;
  left: 45%;
  width: 180px;
  padding: 5px;
  background-color: #fad06d;
  border: 1px solid #fad06d;
  border-radius: 35px;
  outline: none;
  font-size: 3rem;
  font-weight: 600;
  animation: jump 2.5s infinite linear;
  animation-timing-function: linear;
  cursor: pointer;
}
.infor-btn a {
  color: #252424cc;
}

.infor-btn:hover {
  animation-play-state: paused;
}

@keyframes jump {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-35%);
  }
  100% {
    transform: translateY(0%);
  }
}
.products__section {
  margin-top: -35px;
}
.products__section-heading-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
}
.products__section-heading-wrap a {
  width: 20%;
  font-size: 2.4rem;
  font-weight: 500;
  background-color: black;
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  transition: transform 0.3s;
}
.products__section-heading-wrap a:last-child {
  background-color: white;
  color: black;
}
.products__section-heading-wrap a:last-child:hover {
  transform: translateY(-5px);
}
.products__section-banner-link {
  width: 100%;
  display: inline-block;
}
.products__section-banner-link img {
  width: 100%;
  height: 380px;
}
.products__section-banner-link:not(:last-child) {
  margin-bottom: 30px;
}

.products__wrap {
  width: 210px;
  height: 328px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 5px;
  transition: transform 0.3s;
  overflow: hidden;
  position: relative;
}
.products__wrap-sale {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fa5741;
  background-color: rgba(250, 208, 109, 0.6);
  width: 50px;
  height: 60px;
  text-align: center;
  line-height: 1.8rem;
}
.products__wrap-sale::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid white;
}
.products__wrap-link img {
  width: 100%;
  height: 207px;
}
.products__wrap-name {
  display: block;
  width: 100%;
  height: 35px;
  color: black;
  font-size: 1.7rem;
  font-weight: 600;
  margin: 5px 0;
  text-transform: capitalize;
}
.products__wrap-rating {
  margin: 15px 0;
  width: 100%;
  height: 15px;
  display: flex;
}
.products__wrap-rating i {
  font-size: 1.4rem;
  color: #fad06d;
}
.products__wrap-price {
  margin-top: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  transition: transform 0.3s;
}
.products__wrap-price-new {
  font-size: 1.7rem;
  font-weight: 600;
}
.products__wrap-price-old {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: line-through;
}
.products__wrap-active {
  width: 100%;
  transition: transform 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  transform: translateY(20px);
}
.products__wrap-active a {
  color: #fad06d;
  font-size: 3rem;
}

.products__wrap:hover {
  transform: translateY(-5px);
}

.products__wrap:hover > .products__wrap-active {
  transform: translateY(-25px);
}

.products__wrap:hover > .products__wrap-price {
  transform: translateY(50px);
}

/*# sourceMappingURL=styles.css.map */
